#conda create -n env_hgboost python=3.10
#conda activate env_hgboost
#conda install spyder

pypickle
wget
matplotlib 
numpy 
pandas 
tqdm
hyperopt
lightgbm
catboost
xgboost
classeval
treeplot
df2onehot
colourmap
seaborn
